
<div ng-show="questions.length">
  <h1>Here are all of your questions:</h1>

  <label>Search for a question:</label>
  <input type="text" ng-model="searchText" placeholder="Search...">

  <button ng-click="filterAnswers.answered = true">Filter by answered</button>
  <button ng-click="filterAnswers.answered = false">Filter by unanswered</button>
  <button ng-click="filterAnswers.answered = ''">Show all</button>
<div class="row">
    <div class="questions" ng-repeat="item in questions | filter: searchText | filter: filterAnswers.answered">
      <a ui-sref="questions.answers({ questionId: item.id })">{{ item.text | limitTo:300 }}</a>
      <p>Answers: {{ item.answers.length }}</p>
    </div>
  </div>
</div>

<div class="col-md-4">
  <h3>Ask a new question</h3>
  <form ng-submit="QuestionsFactory.addQuestion()" class="form-inline" role="form">
    <div class="form-group">
      <input type="text" ng-model="QuestionsFactory.questionText" class="form-control" placeholder="Ask your question here">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

<div ui-view> </div>
